$break-mobile: 1024px;

$font-family: 'Montserrat Alternates', sans-serif;

$color-front: #cef;
$color-cross: #fff;
$color-back: rgba(#024, 0.75);
$color-back-active:rgba(#246, 0.75);
$color-front-label: #bbb;
$color-back-label: rgba(#024, 0.5);

$color-star: #fff;
$color-planet: #fe8;
$color-moon: #8ae;