body {
	font-family: 'Montserrat Alternates', sans-serif;
	background: black;
	margin: 0;
	overflow: hidden;
}

#biomeCanvas, #planet {
	display: none;
}

#debug {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 1.2vmax;
	font-weight: 400;
	color: rgba(192, 224, 256, 1);
	position: absolute;
	top: 0;
	background-color: rgba(0, 32, 64, 0.75);
	border: solid .1vmax rgba(192, 224, 256, 1);
	margin: .4vmax;
  padding: .4vmax;
  transform: translate(-25%, -25%) scale(0.5);
	pointer-events: none;
}
#debug span {
	float: right;
	padding-left: .8vmax;
}

.label {
	font-size: 1.2vmax;
	font-weight: 400;
	padding: .8vmax;
	color: #bbb;
	border: solid .1vmax #bbb;
	border-radius: .4vmax;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 32, 64, 0.5);
	box-shadow: 0 0 .1vmax .1vmax rgba(0, 32, 64, 0.5);
	opacity: 0;
	white-space: nowrap;
	z-index: 999;
	pointer-events: none;
	transition: opacity 0.2s;
  transform: translate(-25%, -25%) scale(0.5);
}
.label span {
	float: right;
	padding-left: .8vmax;
}
.label ol {
	margin: 0;
	padding: 0;
}
.label ol .index {
	padding-left: 0;
	width: 2vmax;
	display: block;
	float: left;
}
.label li {
	display: block;
}
.label li.star {
  color: #fff;
}
.label li.planet {
  color: #fe8;
}
.label li.moon {
  color: #8ae;
}
.label--h1 {
	font-size: 1.8vmax;
}
.label--h2 {
	font-size: 1.4vmax;
	font-weight: 700;
}
.label--h3 {
	font-weight: 700;
	margin-top: .8vmax;
}

.label-body {
  position: absolute;
  font-size: 0.7vmax;
  top: 0;
  left: 0;
  color: #fe8;
  text-shadow: 0 0 .1vmax rgba(0, 32, 64, 1);
  margin-top: -.5vmax;
  margin-left: -.6vmax;
  line-height: 1vmax;
  pointer-events: none;
}

.label-body .index {
  position: relative;
  font-size: 0.5vmax;
  display: inline-block;
  text-align: center;
  border: solid .05vmax #fe8;
  box-shadow: 0 0 .1vmax rgba(0, 32, 64, 1);
  border-radius: 50%;
  top: -.05vmax;
  margin-right: .2vmax;
  width: 1vmax;
  height: 1vmax;
  line-height: 1vmax;
}

.label-body .children {
  display: none;
}

.label-body.label-moon {
  color: #8ae;
}
.label-body.label-moon .index {
  border-color: #8ae;
}

.label-body.label-star .index {
  visibility: hidden;
}

.label-body.label-star, .label-body.label-sub-star {
  color: #fff;
}
.label-body.label-star .index, .label-body.label-sub-star .index {
  border-color: #fff;
}

@media (max-width: 768px) {
	#debug {
		display: none;
    transform: translate(-12.5%, -12.5%) scale(0.75);
  }
  .label {
    top: .4vmax !important;
    left: .4vmax !important;
    transform: translate(-12.5%, -12.5%) scale(0.75);
  }
}